@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Times New Roman';
}

.isi-login{
    margin: 40px 100px 100px 100px;
}

.data-input{
    width: 30%;
}
